/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #0eacf6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    right: 200px;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
    position: relative;
    bottom: 200px;
    left: 120px;
}

.converter {
    display: flex;
    justify-content: space-between;
}

.converter div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}
